li a{
    display: block;
    color: white;
    text-align: center;
    padding:32px;
    text-decoration: none;
    font-size: "13";
    width: 120px;
    padding-bottom: 20px;
    height: 30px;

}
li{

    float: left;
}
.nav{
    background-color: black;
    color: white;
}
li a:hover:not(.navbar){
    background-color: cornflowerblue;
}
.navbar{
    background-color: grey;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color:darkblue;
}
.a{
    background-color:darkblue;
    float: left;
    height: 70px;
    width: 400px;
    margin: 8px 8px 8px 10px;
    background: fixed;
}
 form{
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
    background: darkblue;
    padding: 30px 30px 30px 30px;
    float: right;
    margin-left: 20px;
    margin-top: 150px;
    
}
h2{
    padding-left: 20px;
    color: whitesmoke;
    font-size: 30px;
}
#form{
    height: 30px;
    padding-left: 25px;
}
button{
    background-color: burlywood;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#register{
    width: 80px;
    margin-left: 120px;
}
button:hover{
    background-color: cornsilk;
}
.intro{
    display: grid;
    grid-template-columns:auto auto auto;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 20px;
}
.content{
    margin-left: 50px;
}
h1{
    color: blueviolet;
}
p{
    font-size: 20px;
    text-align: justify;
}
a{
    text-decoration: none;
}
.course{
    background-color: rgb(228, 172, 32);
    height: 450px;
}
.o{
    padding-left: 80px;
    padding-bottom: 120px;
    font-size: 18px;
}
.i{
    padding-left: 80px;
    padding-bottom: 120px;
    font-size: 18px;
}
.u{
    padding-left: 90px;
    padding-bottom: 120px;
    font-size: 18px;
}
.gridcontainer{
    display: grid;
    grid-template-columns:auto auto auto;
    padding-left: 100px;
    padding-top: 20px;
}
.c{
    text-align: center;
    padding-top: 20px;
    color: darkblue;
}
#btn{
    height: 50px;
    width: 100px;
}
#id{
    height: 50px;
    width: 50px;
    position: sticky;
    margin-top: 100px;
}
.mec{
    display: grid;
    grid-template-columns:auto auto auto;
    margin-top: 20px;
}
.photo{
    float: right;
    height: 5%;
    width: 10%;
    margin-right: 20px;
    
}
.reason h2{
    color: blueviolet;
    margin-left: 30px ;
}
.reason p{
    font-size: 20px;
    text-align: justify;
    margin-right: 100px;
    margin-left: 30px ;
}
.innovative{
    height: 100%;
    width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px 20px 10px 150px;
    padding-top: 40px;
}
.grid img{
    padding: 40px 80px 20px 80px;
}
.placement{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 50px 50px 150px 150px;
    padding-top: 40px;
}